.Person {
    background-color: chartreuse;
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
}